# server:
#   port: 8081
#   servlet:
#     context-path: /abc

spring:
  application:
    name: cooking
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_gmail@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true 
  ai:
    model:
     chat: openai #groq và chatGPT
    #  chat: google-genai # gemini
    openai:
      api-key: ${GROQ_API_KEY}
      base-url: https://api.groq.com/openai
      chat:
        options:
          model: openai/gpt-oss-20b
      
  datasource:
    url: jdbc:mysql://localhost:3306/cooking_db
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      # ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: true #Test thoi ti tat di nhe mac dinh la true

ai:
  modules:
    chat:
      enabled: true

app:
  jwt:
    secret: thisismyscretkeyformyownmuahahahahahahahahahahahahahahaha
    expiration: 3600000000 #  in milliseconds
    refresh-expiration: 360000000000
    header: Authorization
    prefix: Bearer
  admin:
    username: admin
    password: admin12345
    email: admine
    dob: 1990-01-01
    roles: 
      - ADMIN
      - USER
      - CHEF
  upload:
    dir:
      avatar: static_resource/public/upload/avatars
      recipe: static_resource/public/upload/recipes
      step: static_resource/public/upload/steps
      recipe-video: static_resource/public/upload/recipe_videos
      category-image: static_resource/public/upload/category_images
      temp: static_resource/public/upload/temp
  static-base-url: http://localhost:8080

pinecone:
  api-key: ${PINECONE_API_KEY}
  host: test001-jis24m5.svc.aped-4627-b74a.pinecone.io # Ví dụ: my-index-1234.svc.pinecone.io <-- THAY THẾ
  PINECONE_ENVIRONMENT: us-east-1
  index-name: test001 # Tên Index bạn muốn dùng <-- THAY THẾ
  namespace: example-namespace # Namespace mặc định